{% extends '::base.html.twig' %}

{% block title %}Magic 99.1 - 90's, 2k and Today! - Prescott Radio{% endblock %}

{% block description %}
    <meta name="description" content="Magic 99.1 - 90's, 2k and Today! - Prescott Radio" />
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="Prescott radio, Northern Arizona Radio"  />
{% endblock %}
    
{% block favicons %}
    <link rel="apple-touch-icon" href="{{ asset('favicon.png') }}">
    <link rel="icon" href="{{ asset('favicon.png') }}">
    <!--[if IE]><link rel="shortcut icon" href="{{ asset('favicon.ico') }}"><![endif]-->
    <!-- or, set /favicon.ico for IE10 win -->
    <meta name="msapplication-TileColor" content="#0b183d">
    <meta name="msapplication-TileImage" content="{{ asset('favicon.png') }}">
{% endblock %}
    
{% block styles %}
    <link type="text/css" rel="stylesheet" href="{{ asset('css/styles.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ asset('css/styles.tweet.css') }}" />
    <link href='http://fonts.googleapis.com/css?family=Unica+One|Bangers' rel='stylesheet' type='text/css'>
{% endblock %}
    
{% block ie_crap %}
<!--[if gte IE 9]>
  <style type="text/css">
    .gradient { filter: none; }
  </style>
<![endif]-->
<!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{% endblock %}

{% block js_top %}
    <script type="text/javascript" src="{{ asset('scripts/jquery-1.9.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('scripts/common.js') }}"></script>
{% endblock %}
    
{% block analytics %}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-38877504-1']);
        _gaq.push(['_setDomainName', 'gcmaz.com']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
{% endblock %}
      
{# block exp_leaderboard %}
    <div id="expleaderboard">
        <a href="{{path('Magic991_concerts')}}">
            <img src="{{ asset('images/660x150/widespread-panic.jpg') }}" width="660" height="150" alt="Widespread Panic Tickets" />
        </a>
    </div>
{% endblock #}
      
{% block leftcol_logo %}
        <div class="logo_box">
            <a href="{{ path('Magic991_homepage') }}"><img src="{{ asset('images/logo-magic.png') }}" width="300" height="168" alt="Magic 99.1 - 90's, 2k and Today - Prescott Radio" ></a>
        </div>
{% endblock %}

{% block leftcol_sponsor %}
      <div class="sponsor_box">
            <a href="http://centerforphysicalexcellence.com" target="_blank"><img src="{{ asset('images/studio-sponsor.png') }}" width="150" height="90" alt="Studio Sponsor"/></a>
       </div>
{% endblock %}
      
{% block leftcol_nav %}
        <nav class="menu_box">
            <ul class="menu_left dropdown">
                <li class="headlink">
                    <a href="{{ path('Magic991_homepage') }}">99.1</a>
                    <ul>
                        <li><a href="{{ path('Magic991_homepage') }}">HOME</a></li>
                        <li><a href="{{ path('Magic991_contact') }}">CONTACT US</a></li>
                        <li><a href="{{ path('Magic991_advertise') }}">ADVERTISE</a></li>
                        <li><a href="http://www.gcmaz.com" target="_blank">GREAT CIRCLE MEDIA</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="menu_right dropdown">
                <li class="headlink">
                    <a href="{{ path('Magic991_onair') }}">MUSIC</a>
                    <ul>
                        <li><a href="javascript:void(window.open('http://player.tritondigital.com/8071', 'KTMGFM', 'width=800,height=600'));">LISTEN LIVE &raquo;</a></li>
                        <li><a href="{{ path('Magic991_onair') }}">ON THE AIR</a></li>
                        <li><a href="{{ path('Magic991_concerts') }}">CONCERTS</a></li>
                        <li><a href="{{ path('Magic991_songrequest') }}">SONG REQUESTS</a></li>
                        <li><a href="http://www.tunegenie.com/onair/ktmg/" target="_blank">PLAYLISTS</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="menu_left dropdown">
                <li class="headlink">
                    <a href="{{ path('Magic991_community') }}">COMMUNITY</a>
                    <ul>
                        <li><a href="{{ path('Magic991_community') }}">COMMUNITY INFO</a></li>
                        <li><a href="{{ path('Magic991_whats') }}">WHAT'S HAPPENING</a></li>
                        <li><a href="{{ path('Magic991_yrmc') }}">HEALTHY LIVING</a></li>
                        <li><a href="{{ path('Magic991_pet') }}">PET OF THE WEEK</a></li>
                        <li><a href="{{ path('Magic991_weather')}}">WEATHER</a></li>
                        <li><a href="{{ path('Magic991_photos') }}">PHOTOS</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="menu_right dropdown">
                <li class="headlink">
                    <a href="http://perks.gcmaz.com" target="_blank">WIN STUFF</a>
                    <ul>
                        <li><a href="http://perks.gcmaz.com" target="_blank">MAGIC PERKS</a></li>
                        <li><a href="http://perks.gcmaz.com/asp3/lwcodes.aspx" target="_blank">PERKS WORD</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
{% endblock %}

{% block leftcol_mc %}
            <div class="music-ctr_box">
                <img src="{{ asset('images/hdr-music-ctr.png') }}" width="300" height="40" alt="Music Center" class="vertbtm">
                <iframe name="store" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" width="300" height="410" src="http://www.tunegenie.com/widehours/ktmg/410"></iframe>
            </div>
{% endblock %}

{% block leftcol_fb %}
            <img src="{{ asset('images/hdr-friends.png') }}" width="300" height="40" alt="Friends" class="vertbtm">
            <div class="fb_box">
                <div class="fb-like-box" data-href="https://www.facebook.com/pages/Magic-991/175911715829200" data-width="300" data-height="250" data-show-faces="true" data-colorscheme="dark" data-stream="false" show-border="false" data-header="false"></div>
            </div>
{% endblock %}

{% block stream_box %}
    <div class="stream_box">
            <a href="javascript:void(window.open('http://player.tritondigital.com/8071', 'KTMGFM', 'width=800,height=600'));">
                <img src="{{ asset('images/listen-live.png') }}" width="675" height="75" alt="Listen Live to Magic 99.1 Prescott Radio">
            </a>
        </div>
{% endblock %}

{% block footer %}
    <div id="ftr-left">
            <ul class="ftr-links-list">
            <li style="background-image:url('{{asset("images/ftr-icon-home.png")}}');"><a href="{{ path('Magic991_homepage') }}">Home</a></li>
            <li style="background-image:url('{{asset("images/ftr-icon-contact.png")}}');"><a href="{{ path('Magic991_contact') }}">Contact Us</a></li>
            <li style="background-image:url('{{asset("images/ftr-icon-listen.png")}}');"><a href="javascript:void(window.open('http://player.tritondigital.com/8071', 'KTMGFM', 'width=800,height=600'));">Listen Live</a></li>
            <li style="background-image:url('{{asset("images/ftr-icon-win.png")}}');"><a href="http://perks.gcmaz.com" target="_blank">Win Stuff</a></li>
            <li style="background-image:url('{{asset("images/ftr-icon-concerts.png")}}');"><a href="{{ path('Magic991_onair') }}">On Air</a></li>
        </ul>
    </div>
    <div id="ftr-right">
        <div id="ftr-right-1">
            {#
            <!-- RECENT POSTS -->
            <p class="wall-poet yellow">RECENT POSTS</p>
            <br/>
            <a class="ftr-recent-post" href="dew-flagstaff.php">Dew Downtown Flagstaff</a>
            <br/>
            <a class="ftr-recent-post" href="boot-drop-2013.php">New Years Eve Boot Drop</a>
            <br />
                    <a class="ftr-recent-post" href="/cash">Cash Call</a>
            <br/>
            #}
        </div>
        <div id="ftr-right-2">
            <p class="bangers" style="color:#13a0e5;font-size: 0.8em;padding-top:10px;">CITIES WE SERVE</p>
            <div style="margin-top:5px;">
                <ul class="ftr-cities-list" style="float:left;width:90px;">
                    <li>Prescott</li>
                    <li>Prescott Valley</li>
                    <li>Sedona</li>
                    <li>Camp Verde</li>
                </ul>
                <ul class="ftr-cities-list" style="float:right;width:140px;text-align:left;">
                    <li>Cottonwood</li>
                    <li>Jerome</li>
                    <li>Clarkdale</li>
                    <li>Williams</li>
                </ul>
                <br class="clear" />
            </div>
        </div>
        <div id="ftr-right-3">
            <a href="/"><img src="{{ asset('images/logo-magic.png') }}" width="185" height="100" alt="Magic 99.1 Radio" style="padding-top:4px;"/></a>
            <p style="color:#fff;font-size:12px;font-weight:bold;padding:0;margin:2px auto 0;">
                Magic 99.1 Radio
            </p>
            <p style="color:#13a0e5;font-size:10px;font-weight:bold;padding:0;margin:2px auto;">
                    &copy; GuyAnn Corporation<br/>All Rights Reserved
            </p>
            <p style="padding:0;margin:2px auto;font-weight:bold;font-size:10px;">
                <a href="http://www.gcmaz.com/legal/GeneralContestRules.pdf" target="_blank"  style="color:#0e86c1;text-decoration:none;">Contest Rules</a>
                &nbsp; | &nbsp;
                <a href="http://www.gcmaz.com/legal/eeo.pdf" target="_blank"  style="color:#0e86c1;text-decoration:none;">EEO</a>
            </p>
        </div>
        <div id="ftr-right-4">
            <a href="https://www.facebook.com/pages/Magic-991/175911715829200" target="_blank"><img src="{{ asset('images/ftr-facebook.png') }}" width="44" height="44" alt="Magic 99.1 on Facebook" style="margin-top:30px;" /></a>
            <br/>
            <a href="http://www.twitter.com/Leza_Live" target="_blank"><img src="{{ asset('images/ftr-twit.png') }}" width="44" height="45" alt="Magic 99.1 on Twitter" style="margin-top:10px;"/></a>
        </div>
    </div>
    <br class="clear" />
{% endblock %}

{% block js_btm %}
    <script>
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=388413197938552";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
{% endblock %}