{% extends 'Magic991MainBundle::layout.html.twig' %}

{% block title %}
   Magic 99.1 has your key to The Magic Kingdom!  Win a trip to Disneyland!
{% endblock %}

{% block description %}
    <meta name="description" content="Magic 99.1 has your key to The Magic Kingdom!  Win a trip to Disneyland!"/>
    <meta property="og:site_name" content="http://magic991.gcmaz.com" />
    <meta property="fb:admins" content="100003228578475" />
    <meta property="fb:app_id" content="388413197938552" />
    <meta property="og:type" content="music.radio_station" />
    <meta property="og:image" content="http://magic991.gcmaz.com{{ asset('images/660x250/magic-has-your-key-to-the-magic-kingdom.jpg') }}"/>
    <meta property="og:url" content="http://magic991.gcmaz.com{{ path('Magic991_contest', {'contest': 'magic-has-your-key-to-the-magic-kingdom'}) }}"/>
    <meta property="og:title" content="Magic 99.1 has your key to The Magic Kingdom!  Win a trip to Disneyland!"/> 
    <meta property="og:description" content="Magic 99.1 has your key to The Magic Kingdom!  Win a trip to Disneyland and many more daily prizes!"/>
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="key to magic kingdom, magic radio contest, prescott"/>
{% endblock %}


{% block content %}
    <div style="background:#fff;min-height:600px;font-weight:600;line-height:1.5;">
        <div class="fb-like" data-href="http://magic991.gcmaz.com{{ path('Magic991_contest', {'contest': 'magic-has-your-key-to-the-magic-kingdom'}) }}" colorscheme="dark" data-send="true" data-width="640" data-show-faces="false" data-font="arial" style="margin:3px 5%;padding:0;"></div>
        <img src="{{asset('images/660x250/magic-has-your-key-to-the-magic-kingdom.jpg')}}" width="660" height="250" alt="Magic has your key to the Magic Kingdom" />
        <p style="margin:20px">
            Listen at <span style="color: #ff0000;font-weight:700;">2:10p</span> and <span style="color: #ff0000;font-weight:700;">5:10p</span> for the <span style="color: #ff0000;font-weight:700;">HAPPIEST PHRASE ON EARTH</span> and the specific hour the phrase will be used.
        </p>
        <p style="margin:20px">
            Then listen to mornings from 6-10a with Leza and <span style="text-decoration: underline;">when she uses the phrase</span> <span style="color: #3366ff;font-weight:700;">be the 3rd caller</span> to win some great summer fun and be qualified to win the Ultimate Trip to Disneyland including park passes, hotel stay and transportation.
        </p>
        <p style="text-align: center;"><strong>This week you could win:</strong></p>
        <p style="font-size:0.9em;font-weight:600;">A Family Carload Pass to Bearizona</p>
        <a href="http://www.bearizona.com" target="_blank">
            <img src="{{asset('images/splash/tix-2-bearizona.jpg')}}" width="553" height="137" alt="Win Family Carload Pass to Bearizona Wildlife Park"/>
        </a>
        <br/><br/>
        <div style="width:90%;background:#e8f2f6;margin:auto;border-radius:9px;-moz-border-radius:9px;-webkit-border-radius:9px;text-align:left;font-size:0.9em;padding:2%;" class='arial'>
            <p style='font-weight:700;text-align:center;color:#069'>You can also register at these locations for your chance to win the Ultimate Disneyland Vacation!</p>
            <p>
                <ul style="color:#003399;line-height:2">
                    <li><a href='http://www.bigotires.com/Location/AZ/Flagstaff/86004/004185' target='_blank' style='font-weight:700;color:#000'>Big O Tires</a> - 2469 N. Walgreen St. Flagstaff, AZ 86004</li>
                    <li><a href='http://www.flagstaffnissansubaru.com/' target='_blank' style='font-weight:700;color:#000'>Flagstaff Nissan Subaru</a> - 4960 East Marketplace Dr. Flagstaff, AZ 86004</li>
                    <li><a href='http://www.highlandsfloorcoverings.com/' target='_blank' style='font-weight:700;color:#000'>Highlands Floor &amp; Window Coverings</a> - 2009 N 4th Street Flagstaff, AZ 86004</li>
                    <li><a href='http://www.myhomco.com/' target='_blank' style='font-weight:700;color:#000'>HomCo Lumber &amp; Hardware</a> - 1763 E. Butler Ave. Flagstaff, Arizona</li>
                    <li><a href='http://northazortho.com/urgent%20' target='_blank' style='font-weight:700;color:#000'>Northern Arizona Orthopaedics Urgent Care</a> - 1485 N. Turquoise Drive Suite 200 Flagstaff, AZ 86001</li>
                    <li><a href='http://flagartscouncil.org/' target='_blank' style='font-weight:700;color:#000'>Flagstaff Arts Council</a> - 2300 N Fort Valley Rd, Flagstaff, AZ</li>
                    <li><a href='http://ww3.truevalue.com/oldtrailtruevaluelumber/Home.aspx' target='_blank' style='font-weight:700;color:#000'>Old Trails True Value</a> - 616 Airport Rd, Williams, AZ 86046</li>
                    <li><a href="http://www.summitspasaz.com/" target="_blank" style="font-weight: bold; color: #000;">Summit Spas &amp; Billiards</a> - 620 E Route 66 Flagstaff, AZ 86001</li>
                    <li><a href='http://www.farmersagent.com/bbrooks1' target='_blank' style='font-weight:700;color:#000'>Brent Brooks Farmers Insurance</a> - 4593 N Robert Rd Prescott Valley, AZ 86314</li>
                    <li><a href='https://www.facebook.com/pages/Graceland-Buildings-of-Northern-AZ/498835766842151' target='_blank' style='font-weight:700;color:#000'>Graceland Portable Buildings of No AZ</a> - 4317 n hwy 89 Flagstaff, Arizona 86004</li>
                    <li><a style="font-weight: bold; color: #000;" href="http://www.vistahealthcaresupply.com" target="_blank">Vista Healthcare Supply</a> - 2573 E. 7th Avenue Flagstaff, AZ</li>
                    <li><a style="font-weight: bold; color: #000;" href="http://babbittford.com/" target="_blank">Babbitt Ford Lincoln</a> - 11 North Verde Street Flagstaff, AZ 86001</li>
                </ul>
            </p>
        </div>
        <div class="clear centered sponsors">
            <p style="font-size:0.8em;font-weight:bold;color:#666;padding:3px;margin-top:10px;background-color:#eaeaea;">Brought to you by:</p>
            <ul style="width:200px;list-style-type:none;margin:0 auto;padding:0;display:inline-block;vertical-align: top;">
                <li><a href="https://www.facebook.com/CliffCastleCasino" target="_blank"><img src="{{asset('images/sponsors/cliff-castle-casino-hotel.jpg')}}" width="150" height="auto" style="height:auto"/></a></li>
                <li><a href="http://www.highlandsfloorcoverings.com/" target="_blank"><img src="{{asset('images/sponsors/highlands-floor-coverings.jpg')}}" alt="highlands floor coverings" width="160" height="auto" style="height:auto" /></a></li>
                <li><a href="http://flagartscouncil.org/" target="_blank"><img src="{{asset('images/sponsors/flagstaff-arts-council.jpg')}}" width="160" height="auto" alt="Flagstaff Arts Council" style="height:auto"></a></li>
                <li><a href="http://www.farmersagent.com/bbrooks1" target="_blank"><img src="{{asset('images/sponsors/brent-brooks-farmers-ins.jpg')}}" width="150" height="auto" alt="Brent Brooks Farmers Insurance" style="height:auto"></a></li>
            </ul>
            <ul style="width:200px;list-style-type:none;margin:0 auto;padding:0;display:inline-block;vertical-align: top;">
                <li><a href="http://northazortho.com/urgent%20" target="_blank"><img src="{{asset('images/sponsors/urgent-ortho.jpg')}}" alt="Northern Arizona Orthopaedics" width="160" height="auto" style="height:auto;padding-top:25px"/></a></li>
                <li><a href="http://flagstaffnissansubaru.com" target="_blank"><img src="{{asset('images/sponsors/flagstaff-nissan-subaru.jpg')}}" alt="flagstaff nissan subaru" width="135" height="auto" style="height:auto" /></a></li>
                <li><a href="http://ww3.truevalue.com/oldtrailtruevaluelumber/Home.aspx" target="_blank"><img src="{{asset('images/sponsors/old-trails-true-value.jpg')}}" width="127" height="auto" alt="Old Trails True Value" style="height:auto" /></a></li>
                <li><a href="https://www.facebook.com/pages/Graceland-Buildings-of-Northern-AZ/498835766842151" target="_blank"><img src="{{asset('images/sponsors/graceland-portable-bldgs.jpg')}}" width="160" height="auto" alt="Graceland Portable Buildings of Northern Arizona" style="height:auto"></a></li>
                <li><a href="http://babbittford.com/" target="_blank"><img src="{{asset('images/sponsors/babbitt-ford.jpg')}}" width="130" height="auto" alt="Babbitt Ford" style="height:auto"></a></li>
            </ul>
             <ul style="width:200px;list-style-type:none;margin:0 auto;padding:0;display:inline-block;vertical-align: top;">
                <li><a href="http://www.myhomco.com/" target="_blank"><img src="{{asset('images/sponsors/homco-lumber.jpg')}}" alt="HomCo Lumber" width="170" height="auto"  style="height:auto;padding-top:20px"/></a></li>
                <li><a href="http://www.bigotires.com/Location/AZ/Flagstaff/86004" target="_blank"><img src="{{asset('images/sponsors/big-o-tires.jpg')}}" alt="big o tires" width="180" height="auto" style="height:auto;padding-top:20px" /></a></li>
                <li><a href="http://www.summitspasaz.com/" target="_blank"><img src="{{asset('images/sponsors/summit-spas-billiards.jpg')}}" width="199" height="auto" alt="Summit Spas and Billiards" style="height:auto;padding-top:20px"/></a></li>
                <li><a href="http://vistahealthcaresupply.com/" target="_blank"><img src="{{asset('images/sponsors/vista-healthcare-supply.jpg')}}" width="150" height="auto" alt="Vista Healthcare Supply" style="height:auto;padding-top:20px"/></a></li>
             </ul>
            <br class="clear" />
        </div>
        <p><a href="http://gcmaz.com/uploads/media/default/0001/01/b87371a942c378784607a839361be0e47d5b2d50.pdf" target="_blank" style="color:#999;font-size:0.7em;">Official Rules</a></p>
    </div>
{% endblock %}