{% extends 'Magic991MainBundle::layout.html.twig' %}

{% block title %}
    Magic Mashup - Win $50 Every Day! - Listen to Magic 99.1 - Northern Arizona Adult Contemporary Radio
{% endblock %}

{% block description %}
    <meta name="description" content=" Magic Mashup - Win $50 Every Day! - Listen to Magic 99.1 - Northern Arizona Adult Contemporary Radio"/>
    <meta property="og:site_name" content="http://magic991.gcmaz.com" />
    <meta property="fb:admins" content="100003228578475" />
    <meta property="fb:app_id" content="388413197938552" />
    <meta property="og:type" content="music.radio_station" />
    <meta property="og:image" content="http://magic991.gcmaz.com{{ asset('images/660x250/magic-mashup.jpg') }}"/>
    <meta property="og:url" content="http://magic991.gcmaz.com{{ path('Magic991_contest', {'contest': 'magic-mashup'}) }}"/>
    <meta property="og:title" content="Magic Mashup - Win $50 Every Day! - Listen to Magic 99.1 - Northern Arizona Adult Contemporary Radio"/> 
    <meta property="og:description" content="Magic Mashup - Win $50 Every Day! - Listen to Magic 99.1 - Northern Arizona Adult Contemporary Radio"/>
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="radio, contest, Magic Mashup, Northern Arizona"/>
{% endblock %}

{% block content %}
    <div class="contest">
        <img src="{{asset('images/660x250/magic-mashup.jpg')}}" width="660" height="250" alt="Magic Mashup - Radio Contest - Prescott" />
        <p style="font-size:1.2em;font-weight:700;padding:0 20px 10px;color:#000;line-height:1.5;" class="blue">
            Congratulations to the Winners!<br/>Thanks to everyone for playing!
        {#Listen to Leza between <span style="color:#13a0e5;">6 - 10am Monday thru Friday</span> for the <span style="color:#bb54cb;">Magic Mashup</span> - where she'll play a mashup of 2 or more songs.  The <span style="color:#13a0e5;">1st caller</span> to correctly identify all the songs in the mashup wins <span style="color:#bb54cb;">$50</span>!#}
        </p>
        {#<p style="color:#13a0e5;text-align:center;font-size:1.4em;font-weight:700;">928-445-9910</p>#}
        <div class="sponsors">
            <p style="font-size:11px;font-weight:bold;color:#666;padding:5px;margin-top:10px;">Brought To You By:</p>
            <ul style="float:left;list-style-type:none;margin:auto;padding:0;">
                <li><a href="http://hotyogaprescott.com/" target="_blank"><img src="{{asset('images/sponsors/bend-hot-yoga.jpg')}}" width="175" height="auto" /></a></li>
                <li><a href="http://www.nazveincenter.com/" target="_blank"><img src="{{asset('images/sponsors/naz-vein-center.jpg')}}" width="180" height="auto" /></a></li>
                <li><a href="http://www.bandlflooringamerica.com/" target="_blank"><img src="{{asset('images/sponsors/bl-flooring.jpg')}}" width="180" height="auto" /></a></li>
            </ul>
            <ul style="float:right;list-style-type:none;margin:auto;padding:0;">
                <li><a href="http://www.anytimefitness.com/" target="_blank"><img src="{{asset('images/sponsors/anytime-fitness.jpg')}}" width="200" height="auto" /></a></li>
                <li><a href="http://www.sunvalleytireaz.com/" target="_blank"><img src="{{asset('images/sponsors/sun-valley-tire-and-auto.jpg')}}" width="159" height="auto" /></a></li>
            </ul>
             <ul style="list-style-type:none;margin:auto;padding:0;">
                <li><a href="http://www.prescott.edu/" target="_blank"><img src="{{asset('images/sponsors/prescott-college.jpg')}}" width="200" height="auto" /></a></li>
                <li><a href="http://www.lambautocenters.com/" target="_blank"><img src="{{asset('images/sponsors/lamb-nissan-chevrolet.jpg')}}" width="200" height="auto" /></a></li>
                <li><a href="http://www.blimpie.com/" target="_blank"><img src="{{asset('images/sponsors/blimpie.jpg')}}" width="200" height="auto" /></a></li>
            </ul>
            <br class="clear" />  
        </div>
        <p><a href="http://www.gcmaz.com/rules/2013_50th_Birthday_Party_Promotion_Rules.pdf" target="_blank" style="text-decoration:none;color:#666;font-size:10px;">Official Rules</a></p>
        <div class="fb-like" data-href="http://magic991.gcmaz.com{{ path('Magic991_contest', {'contest': 'magic-mashup'}) }}" data-send="true" data-width="450" data-show-faces="true" data-font="arial"></div>
    </div>
{% endblock %}