{% extends 'Magic991MainBundle::layout.html.twig' %}

{% block title %}
    Like Your Way To A Free Car! Radio Contest on Magic 99.1
{% endblock %}

{% block description %}
    <meta name="description" content="Like Your Way To A Free Car - Win a 2014 Nissan Versa Note!  Northern Arizona Radio Contest on Magic 99.1"/>
    <meta property="og:site_name" content="http://magic991.gcmaz.com" />
    <meta property="fb:admins" content="100003228578475" />
    <meta property="fb:app_id" content="388413197938552" />
    <meta property="og:type" content="music.radio_station" />
    <meta property="og:image" content="http://magic991.gcmaz.com{{ asset('images/660x250/nissan-versa-giveaway.jpg') }}"/>
    <meta property="og:url" content="http://magic991.gcmaz.com{{ path('Magic991_contest', {'contest': 'win-a-nissan-versa-note'}) }}"/>
    <meta property="og:title" content="Like Your Way To A Free Car!  Radio Contest on Magic 99.1"/> 
    <meta property="og:description" content="Like Your Way To A Free Car - Win a 2014 Nissan Versa Note!  Northern Arizona Radio Contest on Magic 99.1"/>
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="radio, contest, win a car, Flagstaff, Prescott"/>
{% endblock %}
    
{% block styles %}
    {{ parent() }}
    <style type="text/css">
    .fb_edge_comment_widget {
        margin-top: -100px !important;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="arial centered contest">
        <img src="{{ asset('images/660x250/nissan-versa-giveaway.jpg') }}" width="660" height="250" usemap="#nates" alt="Like Your Way To A Free Car! " style="border:1px solid white;" />
        <p style="font-weight:600;font-size:1em;width:90%;">
            <span class="blue">"Like" Your Way To A Free Car</span> presented by <a href="http://theflooringshack.com" target="_blank" style="color:#000;text-decoration:none;">Chris'n Nate's Flooring Shack</a>.  The more the <span class="blue">"Likes"</span> the more chances you have to win!
        </p>
        <p style="font-size:1em;margin:auto;float:left;width:60%;">
            "Like" the following sponsors pages and fill out the form on each page and you'll be registered for the <span style="font-weight:600;">2014 Nissan Versa Note</span> giveaway.  With each "Like" you will increase your chances of winning.
        </p>
        <p style="float:right;width:30%;font-size:0.9em;">
            <a href="http://theflooringshack.com" target="_blank"><img src="{{asset('images/sponsors/chris-n-nates.jpg')}}" width="100" height="auto" alt="" border="0" /></a>
        </p>
        <p class="clear" style="font-size:1.2em;font-weight:600;width:70%;color:#2a4f9d;">
                We'll announce a qualifier each weekday beginning on Monday Oct 7th.  <span style="text-decoration:underline;">Listen for your name</span> at 7:15am.  If you hear it, you are a qualifier for the car giveaway on Friday 12/6!
        </p>
        <p style="font-weight:600;font-size:1.2em;width:90%;">
            We will give away the 2014 Nissan Versa Note at <a href="http://theflooringshack.com" target="_blank" style="color:#000;text-decoration:none;">Chris'n Nate's Flooring Shack</a> on Friday 12/6
        </p>
        <div class="centered sponsors">
            <p style="font-size:0.8em;font-weight:bold;color:#666;padding:3px;margin-top:10px;background-color:#eaeaea;">Sponsors (Note: Not all sponsors are participating in the Facebook Entry)</p>
            <ul style="width:200px;list-style-type:none;margin:0 auto;padding:0;display:inline-block;vertical-align: top;">
                <li><a href="http://a.pgtb.me/sGvbS5" target="_blank"><img src="{{asset('images/sponsors/chris-n-nates.jpg')}}" width="130" height="auto" /></a></li>
                <li><a href="http://a.pgtb.me/PbfsM9" target="_blank"><img src="{{asset('images/sponsors/prescott-tire.jpg')}}" width="140" height="auto" style="margin:20px auto;" /></a></li>
                <li><a href="http://a.pgtb.me/cjCJX0" target="_blank"><img src="{{asset('images/sponsors/servicemaster.jpg')}}" width="130" height="auto" style="margin:10px auto 30px;"/></a><li>
                <li><a href="https://a.pgtb.me/7wn5Sb" target="_blank"><img src="{{asset('images/sponsors/usa-real-estate.jpg')}}" width="150" height="auto" style="margin:20px auto;"/></a><li>
            </ul>
            <ul style="width:200px;list-style-type:none;margin:0 auto;padding:0;display:inline-block;vertical-align: top;">
                <li><a href="http://a.pgtb.me/TcSmnh" target="_blank"><img src="{{asset('images/sponsors/991magic.jpg')}}" width="150" height="auto" /></a></li>
                <li><a href="http://a.pgtb.me/V1vCXf" target="_blank"><img src="{{asset('images/sponsors/naz-vein-center.jpg')}}" width="160" height="auto" /></a></li>
                <li><a href="http://a.pgtb.me/pChzw2" target="_blank"><img src="{{asset('images/sponsors/ranchers-wife.jpg')}}" width="130" height="auto" /></a><li>
                <li><a href="https://a.pgtb.me/2D91w2" target="_blank"><img src="{{asset('images/sponsors/allegra-printing.jpg')}}" width="90" height="auto" /></a><li>
            </ul>
             <ul style="width:200px;list-style-type:none;margin:0 auto;padding:0;display:inline-block;vertical-align: top;">
                <li><a href="http://a.pgtb.me/QN9rMf" target="_blank"><img src="{{asset('images/sponsors/1009oldies.jpg')}}" width="130" height="auto" /></a></li>
                <li><a href="http://a.pgtb.me/4BR5lC" target="_blank"><img src="{{asset('images/sponsors/ferrellgas.jpg')}}" width="140" height="auto" /></a></li>
                <li><a href="http://a.pgtb.me/pChzw2" target="_blank"><img src="{{asset('images/sponsors/kelly-beef.jpg')}}" width="140" height="auto" style="margin:40px auto;"/></a><li>
            </ul>
            <br class="clear" />
            <div style="background-color:#eaeaea;border-radius: 9px;width:400px;padding:10px;margin:auto;">
                <p style="font-size:0.9em;font-weight:bold;color:#2a4f9d;padding:3px;margin-top:10px;">Don't have a Facebook account ?  These locations also have entry boxes:</p>
                <p style="font-size:0.8em;font-weight:bold;padding:3px;">The Flooring Shack</p>
                <p style="font-size:0.8em;font-weight:bold;padding:3px;">Northern Arizona Vein Center</p>
                <p style="font-size:0.8em;font-weight:bold;padding:3px;">Prescott Tires</p>
                <p style="font-size:0.8em;font-weight:bold;padding:3px;">The Rancher's Wife/Kelly Beef</p>
                <p style="font-size:0.8em;font-weight:bold;padding:3px;">Allegra Prescott</p>
            </div>
        </div>
        <p><a href="http://www.gcmaz.com/uploads/media/default/0001/01/d14dbe89980c67198ef32d6626890ab621fae7e4.pdf" target="_blank" style="text-decoration:none;color:#666;font-size:10px;">Official Rules</a></p>
        <div class="fb-like" data-href="http://magic991.gcmaz.com{{ path('Magic991_contest', {'contest':'win-a-nissan-versa-note'}) }}" data-send="true" data-width="660" data-show-faces="true" data-font="arial" style="overflow:visible !important;"></div>
        <br class="clear"/><br style="line-height:100px;"/>
    </div>
    <map id="nates" name="nates">
        <area shape="rect" coords="0,120,164,250" target="_blank" href="http://theflooringshack.com" />
    </map>
{% endblock %}