{% extends 'Magic991MainBundle::layout.html.twig' %}

{% block title %}
    Hot Adult Contemporary Concerts - Prescott - Prescott Valley - Northern Arizona - Magic 99.1
{% endblock %}

{% block description %}
    <meta name="description" content="Hot Adult Contemporary Concerts - Prescott - Prescott Valley - Northern Arizona - Magic 99.1"/>
    <meta property="og:site_name" content="http://magic991.gcmaz.com" />
    <meta property="fb:admins" content="100003228578475" />
    <meta property="fb:app_id" content="388413197938552" />
    <meta property="og:type" content="music.radio_station" />   
    <meta property="og:image" content="http://magic991.gcmaz.com{{ asset('images/logo-magic.png') }}"/>
    <meta property="og:url" content="http://magic991.gcmaz.com{{ path('Magic991_concerts') }}"/>
    <meta property="og:title" content="Hot Adult Contemporary Concerts - Prescott - Prescott Valley - Northern Arizona - Magic 99.1"/> 
    <meta property="og:description" content="Hot Adult Contemporary Concerts - Prescott - Prescott Valley - Northern Arizona - Magic 99.1"/>
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="Hot AC, Hit Music, Concerts, Prescott, Prescott Valley, Northern Arizona"/>
{% endblock %}
    
{% block styles %}
    {{ parent() }}
    <style type="text/css">
        .spacer{clear:both;background-color:#485879; width: 90%; height: 5px;margin:10px auto 5px;}
        div.concerts {width:90%;margin:10px auto;color:#d7dadf;line-height:1.2;font-size:1em;font-weight:400;text-align:left;font-family: arial, sans-serif;background-color:rgba(0,0,0,.25);padding:3px 10px;border:1px solid #5d6e91; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
        .concert-title{font-weight:600;color:#e2d9d9;margin:3px 0 8px 0;text-shadow: 1px 1px 2px rgba(0,0,0,0.75); font-size:1em;}
        .concert-date{float:right;color:#cfdee6;font-weight:600;text-shadow: 1px 1px 2px rgba(0,0,0,0.75);margin:0 15px 0 0;font-size:1em;}
        .concert-img {float:right;margin:4px 10px;border:1px solid #8191b3;}
        .concerts a{font-weight:bold;color:#cfdee6;text-decoration:none;padding-top:5px;display:block;} {# generic links #}
        a.moreinfo-link {clear:both;float:right;font-size:0.9em;font-weight:700;color:#e2d9d9;text-decoration:none;padding-top:5px;margin:5px auto;text-shadow: 0px 0px 3px rgba(255,255,255,0.35);letter-spacing: -1px;vertical-align:bottom;} {# the more info link#}
    </style>
{% endblock %}
    
{% block leftcol_fb %}{% endblock %}
    
{% block leftcol_ad %}
    <a href="http://arizonasundogs.com/" target="_blank">
        <img src="{{asset('images/300x250/sundogs.jpg')}}" width="300" height="250" alt="Arizona Sundogs Tickets and Schedule" style="margin:5px auto;"/>
    </a>
{% endblock %}
    
{% block content %}
    {#<div id="concerts-splash" class="centered dbl-row info-right">
        <p class="left" style="font-size:1.5em;">Widespread Panic</p>
        <p class="right">Sunday, July 14th</p>
        <br class="clear"/>
        <p><a href="http://www.protixonline.com/" target="_blank" style="color:#ccc;"><span style="text-decoration: underline;">Buy Tickets</span> (On-Sale Friday, March 22nd @ 10am MST) &raquo;</a></p>
        <p><a href="http://pepsiamp.com/?p=920" target="_blank">Pepsi Amphitheater (Flagstaff) &raquo;</a></p>
    </div>#}
    <h2 class="bangers">Concerts</h2>

    {% if entities == '' %}
        <div class="concerts">
            <p class="concert-title">Sorry, no concert listings to display</p>
        </div>
    {% else %}
        {% for entity in entities %}
            <div class="concerts">
                <p class="concert-title">{{ entity.title|raw }} <span class="concert-date">{% if entity.concertDate != null %}{{entity.concertDate|date("M jS") }}{% endif %}</span></p>
                <img src="{% path entity.picture, 'small' %}" alt="{{ entity.title }}" width="150" height="auto" class="concert-img"/>
                {{ entity.content|raw }}
                <br class="clear"/>
                {% if entity.link != null %}<a href="{{ entity.link|raw }}" target="_blank" class="moreinfo-link unica">MORE INFO &raquo;</a>{% endif %}
                <br class="clear" />
            </div>
        {% endfor %}
    {% endif %}

    <br class="clear"/>
    <div class="fb-like" data-href="http://magic991.gcmaz.com{{ path('Magic991_concerts') }}" data-send="true" data-width="450" data-show-faces="true" data-font="arial"></div>
    <br class="clear"/>
{% endblock %}
