{% extends 'Magic991MainBundle::layout.html.twig' %}

{% block title %}
    Healthy Living - Discussion with Yavapai Regional Medical Center - Prescott, AZ Radio 99.1
{% endblock %}

{% block description %}
    <meta name="description" content="Healthy Living - Discussion with Yavapai Regional Medical Center - Prescott, AZ Radio 99.1"/>
    <meta property="og:site_name" content="http://magic991.gcmaz.com" />
    <meta property="fb:admins" content="100003228578475" />
    <meta property="fb:app_id" content="388413197938552" />
    <meta property="og:type" content="music.radio_station" />
    <meta property="og:image" content="http://magic991.gcmaz.com{{ asset('images/healthy-living.jpg') }}"/>
    <meta property="og:url" content="http://magic991.gcmaz.com{{ path('Magic991_yrmc') }}"/>
    <meta property="og:title" content="Healthy Living - Discussion with Yavapai Regional Medical Center - Prescott, AZ Radio 99.1"/> 
    <meta property="og:description" content="Healthy Living - Discussion with Yavapai Regional Medical Center - Prescott, AZ Radio 99.1"/>
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="Healthy Living - Discussion with Yavapai Regional Medical Center - Prescott, AZ Radio 99.1"/>
{% endblock %}
    
{% block styles %}
    {{parent()}}
    <link href='http://fonts.googleapis.com/css?family=Donegal+One' rel='stylesheet' type='text/css'>
    <style type="text/css">
        .healthy{text-align:left;-webkit-border-radius: 9px;-moz-border-radius: 9px;border-radius: 9px;}
        #yrmc{margin-left:10px;line-height:1;}
        #yrmc p{line-height:inherit;margin:0;padding:0;}
        #yrmc p span strong, #yrmc p strong {font-weight:700;}
        .yrmcLinks{float:right;width:210px;}
        .yrmcLinks a{text-decoration: none;color:#000;font-family: 'Donegal One', serif;line-height:1.5;}
        .yrmcLinks a:hover{color:#d152cd;}
        .onLezaLive{float:left;width:450px;text-align:left;line-height:1.2;}
        .onLezaLive p{padding:0 10px 10px;font-size:0.9em;font-weight:400;}
    </style>
{% endblock %}

{% block content %}
    <div class="healthy" style="background-color:#fff;">
        <img src="{{asset('images/healthyliving-hdr.jpg')}}" width="622" height="112" alt="Healthy Living Discussion with Yavapai Regional Medical Center" border="0" class="centered"/>
        <div class="onLezaLive">
            <p>The Mission of Yavapai Regional Medical Center is to provide you and your family with comprehensive, high-quality healthcare – and to provide that care in ways that meet the needs of as many people as possible.</p>
            <p>One thing that really sets YRMC apart – aside from exceptional care – is the commitment that YRMC makes to provide comprehensive health and wellness education programs to the community. And many YRMC programs are free of charge.</p>
            <p>For a complete list of programs and events, download this month's calendar on-line at <a href="http://www.yrmc.org/news/CommunityCalendar.pdf" target="_blank">www.yrmc.org</a>. Or call YRMC's Community Outreach Department at (928) 771-5686.</p>
            <p style="font-weight: 700;font-size: 1.2em;color:#a7499a;">On Leza Live and Local</p>
        </div>
        <div class="yrmcLinks">
            <a href="http://www.yrmc.org" target="_blank">YRMC Website</a><br/>
            <a href="http://www.yrmc.org/news/CommunityCalendar.pdf" target="_blank">Community Calendar</a><br/>
            <a href="http://www.yrmc.org/departments/services/speakersbureau.aspx" target="_blank">Speakers Bureau</a><br/>
            <img src="{{asset('images/healthyliving-people.jpg')}}" width="207" height="211" alt="Healthy Living" align="right" style="margin:5px 0px 0px 0px;" />
        </div>
        <br style="clear:both;" />
        <div id="yrmc">
            {% for entity in entities %}
        	{{ entity.yrmctext|raw }}
             {% endfor %}
        </div>
        <br class="clear"/>
        <p style="padding:0 10px 10px;line-height:1.2;font-size:0.9em;">
            <span style="text-decoration:underline;font-weight:bold;">Community Events Calendar</span>
            <br/><span>For the most current list of health and wellness events, visit <a href="http://www.yrmc.org" target="_blank">www.yrmc.org</a> and click on the Community Calendar button on the home page</span>
        </p>
        <p style="padding:0 10px 10px;line-height:1.2;font-size:0.9em;">
            Yavapai Regional Medical Center is a full-service, not-for-profit community hospital that relies solely on patient revenues and community support for all of its funding. YRMC is proud of the fact that no property taxes have ever been levied to fund YRMC programs or to pay for capital improvements.
        </p>
        <div class="fb-like" data-href="http://magic991.gcmaz.com{{ path('Magic991_yrmc') }}" data-send="true" data-width="450" data-show-faces="true" data-font="arial"></div>
        <br/>
    </div>
{% endblock %}