{% extends 'Magic991MainBundle::layout.html.twig' %}

{% block styles %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{asset('scripts/nivo-slider/nivo-slider.css')}}"/>
{% endblock %}
    
{# block exp_leaderboard %}
    <div id="expleaderboard">
        <a href="http://www.yavapaihumane.org/" target="_blank">
            <img src="{{ asset('images/660x150/petsmart-charities.jpg') }}" width="660" height="150" alt="National Adoption Weekend" />
        </a>
    </div>
{% endblock #}
    
{% block content %}
    <div class="mainbox_box">
        <div class="slider_wrapper theme_default">
            <div id="slider" class="nivoSlider">
                <a href="{{path('Magic991_splash', {'splash':'gift-of-warmth-coat-drive'})}}">
                    <img src="{{ asset('images/660x250/gift-of-warmth.jpg') }}" width="660" height="250" alt="Gift of Warmth Coat Drive">
                </a>
                <img src="{{ asset('images/660x250/default-1.jpg') }}" data-thumb="{{ asset('images/660x250/default-1.jpg') }}" width="660" height="250" alt="Adult Contemporary Radio - Prescott Arizona - Magic 99.1">
            </div>
        </div>
    </div>
    <div class="listener_box">
        <div id="lb1">
            <p>#Prescott</p>
            <iframe src="http://snapwidget.com/sl/?h=cHJlc2NvdHR8aW58MTI1fDJ8M3x8bm98NXxub25l" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:130px; height: 130px" ></iframe>
            <p>#Prescott Valley</p>
            <iframe src="http://snapwidget.com/sl/?h=cHJlc2NvdHR2YWxsZXl8aW58MTI1fDJ8M3x8bm98NXxub25l" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:130px; height: 130px" ></iframe>
        </div>
        <div id="lb3">
            {{ display_blockA|raw }}
            {{ display_blockB|raw }}
        </div>
        <div id="lb2">
            <div class="fb-like-box" data-href="https://www.facebook.com/LezaLiveandLocal" data-width="340" data-height="305" data-show-faces="false" data-colorscheme="light" data-stream="true" show-border="false" data-header="false"></div>
        </div>
        <p style="clear:both;float:left;color:#414f73;font-size:10px;font-weight:700;margin-left:25px;">Instagram Photos</p>
        <p style="float:right;color:#414f73;font-size:10px;font-weight:700;margin-right:25px;">Instagram Photos</p>
        <br class="clear"/><br/><br/>
        <div class="box_320x150 box_left dropshadow">
            <a href="http://perks.mymagicstation.com/asp3/lwcodes.aspx" target="_blank">
                <img src="{{ asset('images/320x150-word.jpg') }}" width="320" height="150" alt="Play The Perks Word"/>
            </a>
        </div>
        <a href="{{ path('Magic991_pet')}}" >
            <div class="box_320x150 box_right dropshadow pet-banner">
                <img {% for entity in entities %} src="{% path entity.picture, 'small' %}" width="150" height="150" alt="{{ entity.name }}" border="0" align="right" {% endfor %}/>
            </div>
        </a>
        <br class="clear"/>
    </div>
{% endblock %}
    
{% block js_btm %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('scripts/nivo-slider/jquery.nivo.slider.pack.js') }}"></script>
    <script type='text/javascript'>
    $(document).ready(function(){
        //nivo slider
        $(window).load(function() {
            $('#slider').nivoSlider({
                effect: 'boxRain',
                pauseTime: 5000,
                directionNav: false,
                pauseOnHover: false
            });
        });
     });
    </script>
{% endblock %}