{% extends 'Magic991MainBundle::layout.html.twig' %}

{% block title %}
    On Air Talent and Programming - Magic 99.1 - Adult Contemporary Radio
{% endblock %}
    
{% block description %}
    <meta name="description" content="On Air Talent and Programming - Magic 99.1 - Adult Contemporary Radio"/>
    <meta property="og:site_name" content="http://magic991.gcmaz.com" />
    <meta property="fb:admins" content="100003228578475" />
    <meta property="fb:app_id" content="388413197938552" />
    <meta property="og:type" content="music.radio_station" />
    <meta property="og:image" content="http://magic991.gcmaz.com{{ asset('images/logo-magic.png') }}"/>
    <meta property="og:url" content="http://magic991.gcmaz.com{{ path('Magic991_onair') }}"/>
    <meta property="og:title" content="On Air Talent and Programming - Magic 99.1 - Adult Contemporary Radio"/> 
    <meta property="og:description" content="On Air Talent and Programming - Magic 99.1 - Adult Contemporary Radio"/>
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="on air, radio, talent, programming, Prescott, Prescott Valley"/>
{% endblock %}

{% block leftcol_fb %}{% endblock %}
    
{% block leftcol_ad %}
    <a href="http://prescott.maaco.com/" target="_blank">
        <img src="{{asset('images/300x250/maaco.jpg')}}" width="300" height="250" alt="Maaco Auto Body" border="0" />
    </a>
{% endblock %}
    
{% block content %}
    <div class="onair centered">
            <div class="info-left">
                    <img src="{{ asset('images/leza150x150.jpg') }}" alt="Leza" width="150" height="150" border="0" />
            </div>
            <div class="info-right">
            	<p>Leza<span style="color:#13a0e5;"> | Mornings 6a - 10a</span></p>
	<p>No stranger to the Prescott area or the  Prescott airwaves, Leza is making the Magic happen in the mornings on Magic  99.1. Leza, who is also a mom of two teenage daughters, a wife for over 20  years (to the same man) and a small business owner says her radio gig “is the most  fun I’ve ever had... at work!” Be sure to wake up with Leza Live from 6 to 10am  Monday through Friday from downtown Prescott.</p>
                <p><a href="https://twitter.com/Leza_Live" target="_blank" class="onair-link">Twitter</a> | <a href="https://www.facebook.com/LezaLiveandLocal" target="_blank" class="onair-link">Facebook</a></p>
            </div>
            <br class="clear"/>
            <div class="spacer"></div>
            <div class="info-left">
                    <img src="{{ asset('images/kevin150x150.jpg') }}" alt="Kevin" width="150" height="150" border="0" />
            </div>
            <div class="info-right">
            	<p>Kevin<span style="color:#13a0e5;"> | Afternoons 3p - 7p</span></p>
                <p>I believe life needs a soundtrack at all times! Music is what moves us after all.  Getting my start in Stand up Comedy has me constantly viewing the world a little differently. Listen as we enjoy the mishaps of celebrities and anything else that may make us giggle!</p>
                <p><a href="https://twitter.com/kevinrosecomedy" target="_blank" class="onair-link">Twitter</a> | <a href="https://www.facebook.com/KEVINROSECOMEDYAZ" target="_blank" class="onair-link">Facebook</a></p>
            </div>
            <br class="clear"/>
            <div class="spacer"></div>
            <br class="clear"/>
            <div class="fb-like" data-href="http://magic.gcmaz.com{{ path('Magic991_onair') }}" data-send="true" data-width="450" data-show-faces="true" data-font="arial"></div>
            <br class="clear"/><br/>
        </div>
    </div>
    <br/>
{% endblock %}