{% extends 'Magic991MainBundle::layout.html.twig' %}

{% block title %}
    Events and Happenings - Prescott - Prescott Valley - Northern Arizona - Magic 99.1
{% endblock %}

{% block description %}
    <meta name="description" content="Events and Happenings - Prescott - Prescott Valley - Northern Arizona - Magic 99.1"/>
    <meta property="og:site_name" content="http://magic991.gcmaz.com" />
    <meta property="fb:admins" content="100003228578475" />
    <meta property="fb:app_id" content="388413197938552" />
    <meta property="og:type" content="music.radio_station" />   
    <meta property="og:image" content="http://magic991.gcmaz.com{{ asset('images/logo-magic.png') }}"/>
    <meta property="og:url" content="http://magic991.gcmaz.com{{ path('Magic991_whats') }}"/>
    <meta property="og:title" content="Events and Happenings - Prescott - Prescott Valley - Northern Arizona - Magic 99.1"/> 
    <meta property="og:description" content="Events and Happenings - Prescott - Prescott Valley - Northern Arizona - Magic 99.1"/>
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="events, happenings, things to do, Prescott, Prescott Valely, Northern Arizona"/>
{% endblock %}

{% block leftcol_fb %}{% endblock %}
    
{% block leftcol_ad %}
    {#<a href="http://www.dominos.com/" target="_blank">
        <img src="{{asset('images/300x250/dominos.jpg')}}" width="300" height="250" alt="Dominos Pizza" style="margin:5px auto;"/>
    </a>#}
    <a href="http://arizonasundogs.com/" target="_blank">
        <img src="{{asset('images/300x250/sundogs.jpg')}}" width="300" height="250" alt="Arizona Sundogs Tickets and Schedule" style="margin:5px auto;"/>
    </a>
{% endblock %}
    
{# block exp_leaderboard %}
    <div id="expleaderboard">
        <a href="http://www.collegeamerica.edu/" target="_blank">
            <img src="{{ asset('images/660x150/college-america.jpg') }}" width="660" height="150" alt="Get Your Degree in as little as 15-20 months at College America" />
        </a>
    </div>
{% endblock #}
    
{% block content %}
    <h2 class="bangers">What's Happening</h2>
    <iframe src="http://www.magic991.com/whats_pres2.php" width="660" height="1100"></iframe>
    <br/>
    <div class="fb-like" data-href="http://magic991.gcmaz.com{{ path('Magic991_whats') }}" data-send="true" data-width="450" data-show-faces="true" data-font="arial"></div>
    <br class="clear"/>
{% endblock %}