{% extends 'Magic991MainBundle::layout.html.twig' %}

{% block title %}
    Teacher's Appreciation Night - Prescott, AZ - Presented by Prescott College
{% endblock %}

{% block description %}
    <meta name="description" content="Every year, Prescott honors it's teachers by hosting a Teacher's Appreciation Night.  Presented by Prescott College and held at Hassayamp Inn on Sept. 27, 2013."/>
    <meta property="og:site_name" content="http://magic991.gcmaz.com" />
    <meta property="fb:admins" content="100003228578475" />
    <meta property="fb:app_id" content="388413197938552" />
    <meta property="og:type" content="music.radio_station" />
    <meta property="og:image" content="http://magic991.gcmaz.com{{ asset('images/660x250/teachers-appreciation-night-2013.jpg') }}"/>
    <meta property="og:url" content="http://magic991.gcmaz.com{{ path('Magic991_splash', {'splash': 'teachers-appreciation-night'}) }}"/>
    <meta property="og:title" content="Teacher's Appreciation Night - Prescott, AZ - Presented by Prescott College"/> 
    <meta property="og:description" content="Every year, Prescott honors it's teachers by hosting a Teacher's Appreciation Night.  Presented by Prescott College and held at Hassayamp Inn on Sept. 27, 2013."/>
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="teachers appreciation night, Prescott, teachers night"/>
{% endblock %}

{% block content %}
    <div class="splash" style="background-color:#fff;">
        <img src="{{asset('images/660x250/teachers-appreciation-night-2013.jpg')}}" width="660" height="250" alt="Teachers Appreciation Night 2013" style="padding-top:5px;"/>
        <p style="font-size:1em;font-weight:600;padding:0 20px 10px;color:#000;line-height:1.5;" class="arial">
            Present this invitation for FREE admission to Teachers Appreciation Night
            <br/>at the Hassayampa Inn in Prescott, AZ, September 27th, 2013 from 6 - 9pm
        </p>
        <p>
            <a href="http://magic991.gcmaz.com/pdf/teachersNight2013.pdf" target="_blank" style="color:#13a0e5;text-align:center;font-size:1.6em;font-weight:400;" class="bangers">Download and Print Your Invitation &raquo;</a>
        </p>
        <div class="centered sponsors">
            <p style="font-size:0.6em;font-weight:bold;color:#666;padding:3px;margin-top:10px;background-color:#eaeaea;">Brought To You By:</p>
            <ul style="width:165px;list-style-type:none;margin:0 auto;padding:0;display:inline-block;vertical-align: top;">
                <li><a href="http://www.hassayampainn.com/" target="_blank"><img src="{{asset('images/sponsors/hassayampa-inn.jpg')}}" width="120" height="auto" /></a></li>
                <li><a href="http://www.bandlflooringamerica.com/" target="_blank"><img src="{{asset('images/sponsors/b&l-flooring.jpg')}}" width="120" height="auto" /></a></li>
                <li><a href="http://www.theflooringshack.com" target="_blank"><img src="{{asset('images/sponsors/chris-n-nates-flooring.jpg')}}" width="80" height="auto" /></a></li>
            </ul>
            <ul style="width:165px;list-style-type:none;margin:0 auto;padding:0;display:inline-block;vertical-align: top;">
                <li><a href="http://www.prescott.edu/" target="_blank"><img src="{{asset('images/sponsors/prescott-college.jpg')}}" width="70" height="auto" /></a></li>
                <li><a href="http://www.aborgatasalon.com/" target="_blank"><img src="{{asset('images/sponsors/a-borgata.jpg')}}" width="110" height="auto" /></a></li>
                <li><a href="http://www.anytimeprescottvalley.com" target="_blank"><img src="{{asset('images/sponsors/anytime-fitness.jpg')}}" width="125" height="auto" /></a></li>
            </ul>
             <ul style="width:165px;list-style-type:none;margin:0 auto;padding:0;display:inline-block;vertical-align: top;">
                 <li><a href="http://www.papajohns.com" target="_blank"><img src="{{asset('images/sponsors/papa-johns.jpg')}}" width="110" height="auto" /></a></li>
                <li><a href="http://www.yogurtfantasy.com" target="_blank"><img src="{{asset('images/sponsors/yogurt-fantasy.jpg')}}" width="100" height="auto" /></a></li>
                <li><a href="http://www.theprescottgatewaymall.com" target="_blank"><img src="{{asset('images/sponsors/prescott-gateway-mall.jpg')}}" width="100" height="auto" /></a></li>
            </ul>
            <ul style="width:165px;list-style-type:none;margin:0 auto;padding:0;display:inline-block;vertical-align: top;">
                <li><a href="http://www.arizonasundogs.com" target="_blank"><img src="{{asset('images/sponsors/az-sundogs.jpg')}}" width="65" height="auto" /></a></li>
                <li><a href="http://www.milehighlend.com/" target="_blank"><img src="{{asset('images/sponsors/mile-high.jpg')}}" width="110" height="auto" /></a></li>
                <li><img src="{{asset('images/sponsors/american-financial-security.jpg')}}" width="110" height="auto" style="margin-top:10px;" /></li>
            </ul>
            <br class="clear" />  
        </div>
        <div class="fb-like" style="margin:0 auto 100px;display:block;visibility: visible !important;z-index: 1000 !important;" data-href="http://magic991.gcmaz.com{{ path('Magic991_splash', {'splash': 'teachers-appreciation-night'}) }}" data-send="true" data-width="450" data-show-faces="true" data-font="arial"></div>
        <br class="clear"/>
    </div>
{% endblock %}